body{
    background-image: linear-gradient(to right,#5f2af3,#61daff);
    overflow: hidden;
}

.h2{
    position: relative;
    color: #ffffff;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.form{

    margin: 3em auto;
    background-image: linear-gradient(to right, #61daff,#5f2af3);
    padding: 1em;
    border-radius: 1em;
    width: 19em;
    height: 12em;
}

form div{
    padding-left: 1em;
    height: 2em;
    margin-right: 1em;
}

input{
    background: transparent;
    border-width: 0 0 1px 0;
    float: right;
    height: 2em;
    outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

label{
    position: absolute;
    margin-top: 0.5em;
}


#submit{
    position: relative;
    left: -50%;
    transform: translateX(50%) translateY(50%);
    border: none;
    border-radius: 0.5em;
    background-color: rgba(86, 87, 88, 0.8);
    color: black;
}

#submit:hover{
    background-color: rgb(94, 93, 97);
}