body{
    background-image: linear-gradient(to right, #61daff,#5f2af3);
    user-select: none;
    color: #ffffff;
    text-align: center;
    transform: translateY(-6em);

}

.btn{
    position: absolute;
    left: 3em;
    top: 3em;
    background: #797979ef;
    border: none;
    height: 3em;
    width: 12em;
    border-radius: 5px;
}

.btn:hover{
    background: rgba(65, 63, 63, 0.8);
}

h1{
    text-decoration: underline;
    margin-top: 3em;
    color: #0a0a0a;
    text-align: center;
}

p{
    color: #ffffff;
    text-align: center;
}

text{
    color: #ffffff;
}

.headers{
    text-decoration: underline;
    margin-top: 3em;
}

.mid{
    transform: translateY(-2em);
}